[submodule "Customer-Churn"]
	path = Customer-Churn
	url = git@github.com:izam-mohammed/Customer-Churn.git
	branch = main
[submodule "Mumbai-Home-Price"]
	path = Mumbai-Home-Price
	url = git@github.com:izam-mohammed/Mumbai-Home-Price.git
[submodule "Student-Score-Prediction"]
	path = Student-Score-Prediction
	url = git@github.com:izam-mohammed/Student-Score-Prediction.git
