[submodule "Customer-Churn"]
	path = Customer-Churn
	url = git@github.com:izam-mohammed/Customer-Churn.git
	branch = main
[submodule "Mumbai-Home-Price"]
	path = Mumbai-Home-Price
	url = git@github.com:izam-mohammed/Mumbai-Home-Price.git
[submodule "Student-Score-Prediction"]
	path = Student-Score-Prediction
	url = git@github.com:izam-mohammed/Student-Score-Prediction.git
[submodule "Celebrity-Classification"]
	path = Celebrity-Classification
	url = git@github.com:izam-mohammed/Celebrity-Classification.git
[submodule "Wine-Quality-Prediction"]
	path = Wine-Quality-Prediction
	url = git@github.com:izam-mohammed/Wine-Quality-Prediction.git
[submodule "Sentiment-Analysis"]
	path = Sentiment-Analysis
	url = git@github.com:izam-mohammed/Sentiment-Analysis.git
[submodule "Chicken-Disease-Classification-Project"]
	path = Chicken-Disease-Classification-Project
	url = git@github.com:izam-mohammed/Chicken-Disease-Classification-Project.git
[submodule "GemInsights"]
	path = GemInsights
	url = git@github.com:izam-mohammed/GemInsights.git
[submodule "Loan-Prediction-System"]
	path = Loan-Prediction-System
	url = git@github.com:izam-mohammed/Loan-Prediction-System.git
[submodule "Customer-Satisfaction-MLOps"]
	path = Customer-Satisfaction-MLOps
	url = git@github.com:izam-mohammed/Customer-Satisfaction-MLOps.git
[submodule "Legal-Advisor-LLM"]
	path = Legal-Advisor-LLM
	url = git@github.com:izam-mohammed/Legal-Advisor-LLM.git
